BEAKON_HTTP_PORT=xxxxxxxxxxxxxxxxxxxxxxxxxx
BEAKON_DB_HOST=xxxxxxxxxxxxxxxxxxxxxxxxxx
BEAKON_DB_PORT=xxxxxxxxxxxxxxxxxxxxxxxxxx
BEAKON_DB_USER=xxxxxxxxxxxxxxxxxxxxxxxxxx
BEAKON_DB_PASS=xxxxxxxxxxxxxxxxxxxxxxxxxx
BEAKON_DB_NAME=xxxxxxxxxxxxxxxxxxxxxxxxxx
BEAKON_DB_SSL_MODE=xxxxxxxxxxxxxxxxxxxxxxxxxx
BEAKON_AMQP_URL=xxxxxxxxxxxxxxxxxxxxxxxxxx
BEAKON_VAPID_PUBLIC_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx
BEAKON_VAPID_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx
RABBITMQ_DEFAULT_USER=xxxxxxxxxxxxxxxxxxxxxxxxxx
RABBITMQ_DEFAULT_PASS=xxxxxxxxxxxxxxxxxxxxxxxxxx
RABBITMQ_HOST=xxxxxxxxxxxxxxxxxxxxxxxxxx
RABBITMQ_PORT=xxxxxxxxxxxxxxxxxxxxxxxxxx
RABBITMQ_MANAGEMENT_PORT=xxxxxxxxxxxxxxxxxxxxxxxxxx
RABBITMQ_DOCKER_IMAGE=xxxxxxxxxxxxxxxxxxxxxxxxxx